 
            <section class="work section" id="work">
                <h2 class="section-title">Projects</h2>

                <div class="work__container bd-grid">
                    <a href="" class="work__img">
                        <%= image_tag ('work1.jpg'), :alt => 'imagen 1'%> 
                    </a>
                    <a href="" class="work__img">
                        <%= image_tag ('work2.jpg'), :alt => 'imagen 2'%>
                    </a>
                    <a href="" class="work__img">
                        <%= image_tag ('work3.jpg'), :alt => 'imagen 3'%>
                    </a>
                    <a href="" class="work__img">
                        <%= image_tag ('work4.jpg'), :alt => 'imagen 4'%>
                    </a>
                    <a href="" class="work__img">
                        <%= image_tag ('work5.jpg'), :alt => 'imagen 5'%>
                    </a>
                    <a href="" class="work__img">
                        <%= image_tag ('work6.jpg'), :alt => 'imagen 6'%>
                    </a>
                </div>
            </section>